.icons {
    margin: 0 0.5rem;
}
h4 {
    margin:auto
}
h4:hover {
    color: blue;
}
.RedesSociales {
    display: flex;
    flex-direction: row;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: blue;
}